/*a{
  color: rgb(128, 0, 0);
}

a:hover{
  color: rgba(128, 0, 0, 0.78);
}


.btn-primary{
  background-color: #CC9933 !important;
  border-color: #CC9933 !important;
}

.btn-primary:hover{
  background-color: rgba(204, 153, 51, 0.84) !important;
  border-color: rgba(204, 153, 51, 0.84) !important;
}

.bg-primary{
  background-color: rgba(204, 153, 51, 0.84) !important;
}
*/